<div class="row">
  <div class="col-xs-12">
    <p>Add new Servers or blueprints!</p>

    <label>Server Name</label>
    <input #serverName type="text" class="form-control" required />

    <label>Server Content</label>
    <input #serverContent type="text" class="form-control" required />

    <br />

    <div class="btn-toolbar">
      <button
        class="btn btn-primary"
        (click)="onAddServer(serverName, serverContent)"
      >
        Add Server
      </button>
      <button
        class="btn btn-primary"
        (click)="onAddBlueprint(serverName, serverContent)"
      >
        Add Server Blueprint
      </button>
    </div>
  </div>
</div>
